@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

html, body {
    margin: 0;
}

body {
    margin: 32px;
    box-sizing: border-box;
    background-color: #111;
    color: white;
    font-family: 'Montserrat', sans-serif;
    --color-main: #ffe75d;
    display: flex;
    flex-direction: column;
}

::selection {
    background-color: #5c5c5c;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    color: var(--color-main);
}
h1 {
    margin-bottom: 0;
}
h3 {
    margin: 0 0 8px 0;
}

p {
    margin: 4px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 8px 0;
    display: inline-flex;
    border-radius: 16px;
    padding: 8px;
    text-decoration: none;
}
.app > img {
    width: 96px;
    height: 96px;
    margin-right: 16px;
}
.app > div {
    display: flex;
    flex-direction: column;
}
.app:hover {
    background-color: #fff1;
}
.app:active {
    background-color: #fff2;
}