@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

$dark: #15181f;
$color-main: #ffe75d;
$icon-size: calc(4vw + 32px);


html, body {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: $dark;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

::selection {
    background-color: #5c5c5c;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    margin: 0;
}
h2 {
    font-size: 1.8em;
    margin-bottom: 8px;
}
h3 {
    font-size: 1.4em;
}

p {
    margin: 0;
}

span {
    display: flex;
    gap: 6px;
}

button {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: $dark;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px;
}
button:enabled {
    cursor: pointer;
}
button:not(:disabled):hover {
    background-color: #ccc;
}
button:not(:disabled):active {
    background-color: #aaa;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
    display: flex;
}

#apps {
    padding: 4px 0;
    gap: 8px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    > *:nth-child(4n), > *:nth-child(4n + 1) {
        flex: 30;
    }

    > * {
        flex: auto;
        transition-duration: 0.1s;
        display: inline-flex;
        border-radius: 16px;
        padding: 16px;
        text-decoration: none;
        background-color: #4443;
        min-width: 32vw;
    
        > img {
            width: $icon-size;
            height: $icon-size;
            margin-right: 16px;
        }
        > div {
            display: flex;
            flex-direction: column;
        }
        p {
            margin: 6px 0 auto 0;
            padding-bottom: 12px;
        }
    }
    > *:hover {
        background-color: #4445;
    }
}

header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    z-index: 1;

    svg {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        top: calc(100% - 3vw);
        fill: $dark;
        paint-order: stroke;
        stroke: white;
        stroke-width: 16px;
        transform-origin: top;
        transform: scaleY(0.5);
        
    }
}

#title {
    --height: calc(3vw + 32px);
    display: flex;
    height: var(--height);
    overflow: hidden;
    position: relative;
    align-self: center;

    > div {
        display: flex;
        flex-direction: column;
        height: inherit;
        font-size: calc(var(--height) / 4);
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: 1s;
        transition-property: top;
        position: relative;
    }
    > .left > h1 {
        font-weight: normal;
    }
    > .left {
        align-items: flex-end;
    }

    h1 {
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        display: table;
        height: inherit;
        color: $color-main;
    }
}

#subtitle {
    display: flex;
    align-self: center;
    margin-bottom: 8px;
}

section {
    padding: 40px 2vw;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section#greeting {
    padding-top: calc(12vw + 80px);
    padding-bottom: 80px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 80px black;
    align-self: auto;
}

.dark-on-light {
    color: $dark;
}