@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

$dark: #111;

html, body {
    margin: 0;
}

body {
    padding: 32px;
    padding-top: 256px;
    box-sizing: border-box;
    background-color: $dark;
    color: white;
    font-family: 'Montserrat', sans-serif;
    --color-main: #ffe75d;
    display: flex;
    flex-direction: column;
    position: relative;
}

::selection {
    background-color: #5c5c5c;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    color: var(--color-main);
}
h3 {
    margin: 0 0 8px 0;
}

p {
    margin: 4px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 8px 0;
    display: inline-flex;
    border-radius: 16px;
    padding: 8px;
    text-decoration: none;

    > img {
        width: 96px;
        height: 96px;
        margin-right: 16px;
    }
    > div {
        display: flex;
        flex-direction: column;
    }
}
.app:hover {
    background-color: #fff1;
}
.app:active {
    background-color: #fff2;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark;

    svg {
        position: absolute;
        z-index: -1;
        top: calc(100% - 20px);
        fill: $dark;
        transform-origin: top;
        transform: scaleY(0.5);
    }
}

#subtitle {
    display: flex;
    align-self: center;
}

#title {
    display: flex;
    pointer-events: none;
    height: 60px;
    overflow: hidden;
    position: relative;
    align-self: center;

    > div {
        display: flex;
        flex-direction: column;
        height: inherit;
        font-size: 20px;
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: 1s;
        position: relative;
    }
    > .left > h1 {
        font-weight: normal;
    }
    > .left {
        align-items: flex-end;
    }

    h1 {
        margin: 10px 0;
        display: flex;
        height: inherit;
    }
}