@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

$dark: #0e1014;
$color-main: #ffe75d;
$icon-size: calc(4vw + 32px);


html, body {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: $dark;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

::selection {
    background-color: #5c5c5c;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
}
h3 {
    margin: 0 0 8px 0;
}

p {
    margin: 4px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    cursor: pointer;
    transition-duration: 0.1s;
    padding: 8px 0;
    display: inline-flex;
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;

    > img {
        width: $icon-size;
        height: $icon-size;
        margin-right: 16px;
    }
    > div {
        display: flex;
        flex-direction: column;
    }
}
.app:hover {
    background-color: #fff1;
}
.app:active {
    background-color: #fff2;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    z-index: 1;

    svg {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        top: 90%;
        fill: $dark;
        paint-order: stroke;
        stroke: white;
        stroke-width: 16px;
        transform-origin: top;
        transform: scaleY(0.5);
    }
}

#title {
    --height: calc(3vw + 32px);
    display: flex;
    height: var(--height);
    overflow: hidden;
    position: relative;
    align-self: center;

    > div {
        display: flex;
        flex-direction: column;
        height: inherit;
        font-size: calc(var(--height) / 4);
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: 1s;
        transition-property: top;
        position: relative;
    }
    > .left > h1 {
        font-weight: normal;
    }
    > .left {
        align-items: flex-end;
    }

    h1 {
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        height: inherit;
        color: $color-main;
    }
}

#subtitle {
    display: flex;
    align-self: center;
    margin-bottom: 8px;
}

section {
    padding: 40px 10px;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section#greeting {
    padding-top: calc(12vw + 80px);
    padding-bottom: 80px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 80px black;
    align-self: auto;
}

.dark-on-light {
    color: $dark;
}