@use 'tags.scss';
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

$dark: #15181f;
$light-gray: #bbb;
$color-main: #ffe75d;
$icon-size: calc(4vw + 32px);


html, body {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: $dark;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 1.4em;
}

::selection {
    background-color: #5c5c5c;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    margin: 0;
}
h2 {
    font-size: 1.8em;
    line-height: initial;
    margin-bottom: 8px;
}
h3 {
    font-size: 1.4em;
}

p {
    margin: 0 0 40px 0;
}

b {
    font-weight: 500;
}

span {
    display: flex;
    flex-flow: wrap;
    gap: 6px;
}

button {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: $dark;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 8px 12px;

    i {
        font-size: inherit;
    }
}
button:enabled {
    cursor: pointer;
}
button:not(:disabled):hover {
    background-color: #ccc;
}
button:not(:disabled):active {
    background-color: #aaa;
}

a {
    color: inherit;
    font-weight: bold;
}
a:hover {
    color: white;
    background-color: #7778;
}
a:active {
    background-color: #777f;
}
a.button {
    @extend button;
    color: $dark;
    text-decoration: none;
    align-self: center;
    text-align: center;
}

#apps {
    padding: 4px 0;
    gap: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, [col-start] minmax(400px, 1fr) [col-end]);
    justify-content: space-evenly;

    > * {
        transition-duration: 0.1s;
        display: inline-flex;
        border-radius: 16px;
        padding: 16px;
        text-decoration: none;
        background-color: #4443;
        // min-width: 32vw;
        position: relative;
    
        > img {
            width: $icon-size;
            height: $icon-size;
            margin-right: 16px;
            // align-self: center;
            
            @media (max-width: 800px) {
                position: absolute;
                right: 0;
                margin-right: 8px;
                top: 8px;
                width: 32px;
                height: 32px;
            }
        }
        > div {
            display: flex;
            flex-direction: column;
        }
        p {
            margin: 6px 0 auto 0;
            padding-bottom: 12px;
        }
    }
    > *:hover {
        background-color: #4445;
    }
}

header, footer {
    position: sticky;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    background-color: $dark;
    z-index: 1;
    box-shadow: 0 0 16px #0007;
}
header { top: 0; }
footer { bottom: 0; }

#title {
    --height: calc(3vw + 32px);
    display: flex;
    height: calc(var(--height) * 0.8);
    overflow: hidden;
    position: relative;
    align-self: center;

    > div {
        display: flex;
        flex-direction: column;
        height: fit-content;
        font-size: calc(var(--height) / 4);
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: 1s;
        transition-property: top;
        position: relative;
    }
    > .left > h1 {
        font-weight: normal;
    }
    > .left {
        align-items: flex-end;
    }

    h1 {
        padding: 10px 0;
        box-sizing: border-box;
        display: table;
        height: var(--height);
        color: $color-main;
    }
}

#subtitle {
    display: flex;
    align-self: center;
    margin-bottom: 8px;

    @media (max-width: 600px) {
        display: none;
    }
}

section {
    padding: 60px 6vw;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;

    > *:not(div) {
        text-align: center;
    }
}

section#greeting {
    text-align: center;
    justify-content: center;

    > p {
        padding-bottom: 0;
        margin: 0;
    }
}

.dark-on-light {
    background-color: white;
    color: $dark;
    box-shadow: 0 0 80px black;
    font-weight: 500;
    
    b {
        font-weight: bold;
    }

    a:hover {
        color: black;
        background-color: #fff8;
    }
    a:active {
        background-color: #ffff;
    }
}

section#about {
    p {
        margin: 0 0 24px 0;
        text-align: left;
    }

    h3 {
        margin: 32px 0 16px 0;
    }
}

ul {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
    margin: 24px 0;

    > div {
        display: inline-flex;
        flex-direction: column;
        margin-top: 6px;
    }

    li {
        font-weight: 500;

        &.styling {
            font-style: italic;
        }

        &.sub {
            margin-left: 32px;
        }

        i {
            opacity: 0.5;
            margin-left: 8px;
        }
        &:hover {
            i {
                opacity: 1;
            }
        }

    }
}

.tag {
    border-radius: 1000px;
    border: 2px solid $light-gray;
    padding: 6px 10px;
    gap: 4px;
}
