@use 'tags.scss';
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500;600;700&family=Recursive&display=swap');

$dark: #11100f;
$light-gray: #bbb;
$light: #ffe6c5;
$icon-size: calc(4vw + 32px);
$tex-cardboard: "../images/cardboard.jpg";
$tex-paper: "../images/paper-with-fibers.jpg";
$tex-paper-blue: "../images/paper-blue.jpg";
$section-padding-vertical: 6em;
$beige-on-blue: hsla(39, 100%, 92%, 0.659);

@function tainted($s, $l) {
	@return hsl(var(--button-hue), $s, $l);
}

html, body {
	margin: 0;
}

body {
	background-color: $dark;
	color: white;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: 1.4em;
	overflow-y: scroll;
	overflow-x: hidden;

	--bold: 500;
	--cardboard-cutout-html-width: 12vw;
	--cardboard-cutout-width: var(--cardboard-cutout-html-width);
	--cardboard-cutout-width-half: calc(var(--cardboard-cutout-width) / 2);
	--cardboard-cutout-inset: 23%;
	--section-height: 30em;
	--header-margin: 2em;
	--svg-title-size: 11px;

	--button-color: #{$dark};
	--button-color-hover: var(--button-color);
	--button-color-active: var(--button-color-hover);

	--button-background: hsl(0, 0%, 100%);
	--button-background-hover: hsl(0, 0%, 80%);
	--button-background-active: hsl(0, 0%, 70%);
}

* {
	box-sizing: border-box;
}

::selection {
	background-color: #817770;
}

h1, h2, h3 {
	font-family: 'Arvo', serif;
	margin: 0;
}
h2 {
	font-size: 1.8em;
	line-height: initial;
	margin-bottom: 8px;
}
h3 {
	font-size: 1.4em;
}

p {
	margin: 0 0 40px 0;
	max-width: 70em;
}

b {
	font-weight: var(--bold);
}

span {
	display: flex;
	flex-flow: wrap;
	gap: 6px;
}

@mixin btn-elevate($amount) {
	$horiz: 1em;
	$vert: 0.8em;
	padding: $vert $horiz ($vert + $amount) $horiz;
	box-shadow: 0 (-$amount) 0 #0005 inset;

	$pad: $horiz - $vert - $amount;
	@if $pad != 0px {
		margin-top: $pad;
	}
}

button {
	@include btn-elevate(0.3em);
	outline: none;
	border: none;
	border-radius: 0.3em;
	background-color: var(--button-background);
	color: var(--button-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: normal;
	transition: 0.5s;

	i {
		font-size: inherit;
	}
}
button:enabled {
	cursor: pointer;
}
button:not(:disabled):hover {
	@include btn-elevate(0.1em);
	transition: 0.15s;
	color: var(--button-color-hover);
	background-color: var(--button-background-hover);
}
button:not(:disabled):active {
	@include btn-elevate(0.05em);
	transition: 0s;
	color: var(--button-color-active);
	background-color: var(--button-background-active);
}

a {
	color: inherit;
	font-weight: var(--bold);
}
a:hover {
	color: white;
	background-color: #7778;
}
a:active {
	background-color: #777f;
}
a.button {
	@extend button;
	text-decoration: none;
	align-self: center;
	text-align: center;
}

.content {
	overflow: hidden;
}

.apps {
	padding: 4px 0;
	gap: 8px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.app {
	transition-duration: 0.1s;
	display: inline-flex;
	border-radius: 1em;
	padding: 1em;
	text-decoration: none;
	background-color: #4443;
	min-width: 20em;
	max-width: 30em;
	position: relative;

	&:hover {
		background-color: #4445;
	}

	h3, b {
		color: var(--col);
		font-weight: bold;
	}

	> img {
		width: $icon-size;
		height: $icon-size;
		margin-right: 1em;
		
		@media (max-width: 800px) {
			position: absolute;
			right: 0;
			margin-right: 0.5em;
			top: 0.5em;
			width: 2em;
			height: 2em;
		}
	}
	> div {
		display: flex;
		flex-direction: column;
	}
	p {
		margin: 6px 0 auto 0;
		padding-bottom: 1em;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	h1 {
		font-family: 'Recursive', serif;
		font-size: 1.5em;
		font-weight: normal;
		text-transform: lowercase;
	}

	div {
		padding: 1em 0.5em;
		align-items: center;
		justify-content: center;
		display: flex;
		background-color: #271f17;
		color: $light;
		backdrop-filter: grayscale(0.5) blur(4px);
		z-index: 2;
	}

	span {
		background-color: $light;
		height: 0.1em;
		box-shadow: 0 0 10px #000a, 0 0 20px #000a;
	}
}

$svg-overlap: 4%;
$stroke-color: #1a1717;
$outline-width: 0.13rem;
$shake-amount: 5deg;
$sticker-scale: 0.08;

svg {
	position: absolute;
	pointer-events: none;
	top: -$svg-overlap;
	left: 0;
	width: 100%;
	height: 100% + 2 * $svg-overlap;
	z-index: 0;
	stroke-linejoin: round;
	filter: drop-shadow(0 0 4px #0005);

	line { stroke: $stroke-color; }

	text {
		pointer-events: all;
		fill: #fb8;
		stroke: $stroke-color;
		stroke-width: $outline-width * 1.5;
		paint-order: stroke;
		font-family: 'Recursive';
		font-size: var(--svg-title-size);
		font-weight: bold;
	}

	rect {
		pointer-events: none;
	}
}

@keyframes shake-offset {
	0%   { transform: rotate(-$shake-amount); }
	50%  { transform: rotate($shake-amount); }
	100% { transform: rotate(-$shake-amount); }
}

.shake {
	animation: shake-offset 3.5s ease-in-out infinite;
	transform-box: fill-box;
	transform-origin: top center;
}

$sticker-inset: 64px * $sticker-scale;

.sticker {
	transform: translate(
			calc(50% - var(--cardboard-cutout-width-half) - $sticker-inset),
			calc(var(--cardboard-cutout-inset) - $sticker-inset)
		)
		scale($sticker-scale);
	stroke: $stroke-color;
	stroke-width: calc($outline-width / $sticker-scale);
	paint-order: stroke;
}

.contrast-children {
	gap: 4px;

	> p, h2 {
		background-color: $beige-on-blue;
		padding: 2px;
	}

	button {
		--button-hue: 39;
		--button-background: #{tainted(100%, 98%)};
		--button-background-hover: #{tainted(40%, 70%)};
		--button-background-active: #{tainted(25%, 54%)};
	}
}

section {
	padding: $section-padding-vertical 6vw;
	align-self: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: var(--section-height);
	position: relative;

	> *:not(div) {
		text-align: center;
	}
}

section#greeting {
	padding-top: calc($section-padding-vertical + var(--header-margin));
	text-align: center;
	justify-content: center;

	> p {
		padding-bottom: 0;
		margin: 0;
	}
}

.dark-on-light {
	background: url($tex-paper-blue);
	color: black;
	font-weight: 500;
	position: relative;
	z-index: 0;

	--bold: bold;

	--button-hue: 26;
	--button-background: #{tainted(100%, 77%)};
	--button-background-hover: #{tainted(61%, 68%)};
	--button-background-active: #{tainted(37%, 54%)};

	a:hover {
		color: black;
		background-color: #fff8;
	}
	a:active {
		background-color: #ffff;
	}

	.app {
		background-color: $beige-on-blue;
	}
}

.paper {
	background: url($tex-paper);
	filter: sepia(0.2);
}

.no-margin { margin: 0; }

@keyframes spin {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.cardboard {
	background: none;
	padding: 6rem 0;
	justify-content: center;
	
	--button-hue: 26;
	--button-background: #{tainted(100%, 77%)};
	--button-background-hover: #{tainted(65%, 65%)};
	--button-background-active: #{tainted(30%, 54%)};

	> * { z-index: 1; }

	b { color: var(--button-background); }

	> div {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 16px;
		gap: 32px;
		width: calc(var(--cardboard-cutout-html-width) * 4);

		> div { text-align: center; }
	}

	> i {
		position: absolute;
		font-size: calc(2em + 1vw);
		color: #1a1717;
		animation: spin 12s linear infinite;
	}
}

.cardboard-cutout {
	transform: translateX(calc(50% - var(--cardboard-cutout-width-half)));
	y: var(--cardboard-cutout-inset);
	width: var(--cardboard-cutout-width);
	height: calc(100% - 2 * var(--cardboard-cutout-inset));
	rx: 4px;
}

section#about {
	p {
		margin: 0 0 24px 0;
		text-align: justify;
	}

	h3 {
		margin: 32px 0 16px 0;
	}
}

ul {
	display: inline-flex;
	flex-direction: column;
	gap: 2px;
	text-align: left;
	margin: 24px 0;

	> div {
		display: inline-flex;
		flex-direction: column;
		margin-top: 6px;
	}

	li {
		font-weight: 500;

		&.styling {
			font-style: italic;
		}

		&.sub {
			margin-left: 32px;
		}

		i {
			opacity: 0.5;
			margin-left: 8px;
		}
		&:hover {
			i {
				opacity: 1;
			}
		}

	}
}

.tag {
	border-radius: 1000px;
	border: 2px solid $light-gray;
	padding: 6px 10px;
	gap: 4px;
}

@media screen and (min-width: 3000px) {
	body {
		font-size: 2em;
		--cardboard-cutout-width: 5vw;
	}
}

@media screen and (max-width: 800px) {
	body {
		--cardboard-cutout-html-width: 21vw;
		--cardboard-cutout-width: 19vw;
		--section-height: 20em;
		--header-margin: 0em;
		--svg-title-size: 9px;
	}

	header {
		position: relative;
	}

	.sticker {
		transform: translate(5%, 18%) scale(0.25);
		stroke-width: $outline-width * 8;
	}

	.cardboard {
		> i {
			display: none;
		}
	}
}